<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Here</title>
</head>
<body>

{{#elementToEdit}}
<b>{{name}}</b>'s symbol is <b>{{symbol}}</b>. It has an atomic number of <b>{{atomicNumber}}</b> and an atomic weight
of <b>{{atomicWeight}}</b>.
<br>

<form class="userInput" action="/edit-element" method="post">
    <input type="hidden" value="{{id}}" name="id">
    <input type="text" placeholder="Element Name" name="elementName">
    <input type="text" placeholder="Symbol" name="elementSymbol">
    <input type="number" placeholder="Atomic Number" name="atomicNumber">
    <input type="number" step="any" placeholder="Atomic Weight" name="atomicWeight">
    <button type="reset">Clear</button>
    <button type="submit">Submit!</button>
</form>

{{/elementToEdit}}

</body>
</html>