<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
{{#crashReport}}
<form action="/update" method="post">
Interstate: <input type="number" value="{{interstate}}" name="interstate">
Mile Marker: <input type="number" value="{{mileMarker}}" name="mileMarker">
Number of Vehicles: <input type="number" value="{{numberOfVehicles}}" name="numberOfVehicles">
Description: <input type="text" value="{{description}}" name="description">

<button type="submit">Update</button>
</form>
{{/crashReport}}
<a href="/"><button>Cancel</button></a>
</body>
</html>